*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Serve para retirar os espaços entre as boxes impostas pelo navegador */
}
ul{
    list-style: none; /* para retirar os pontos que ficam nas listas */
}
body{    
    background-image: url(fundo.jpg);    
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}
body * {
    font-family: 'inter', sans-serif;
    line-height: 160%;
}
header{
    padding-top: 32px;    
    /* text-align: center; imagem é considerada texto para o text-align */
        
}
header div{   
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    
    border-radius: 50%;

    display: flex;
    padding: 4px;
    transition: transform .3s; /* pega a propriedade transform que eu usei no hoover e aplica algum tempo para ocorrer tal transição  */
    animation: fromTop .7s .4s backwards;
}
header div:hover{/* na header div, quando eu passar o mouse em cima(hover) ele irá aplicar as propriedades abaixo  */
    transform: scale(1.5);
    /* da um zoom na foto de perfil */
}

header div img{
    width: 100%;    
    border-radius: 50%;   
}
main{    
    max-width: 580px;
    width: 90%;
    margin: 32px auto; /* no auto há um cálculo automático para definir 90% da margem, de acordo com o seu max.
    No margin, o primeiro valor serve para cima e baixo e o segundo para os lados */    
    display: grid;
    gap: 24px;    
}
section {
    color: white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top:4px;
    border-radius: 10px;
}
section h2{
    color: white;
    letter-spacing: -0.47px;
    /* font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 160%;
    or 38px */
    
}
section p{
    color: #A1A1AA;
    letter-spacing: -0.18px; 
    /* font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    identical to box height, or 26px */
               
}
section ul{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}
section ul li{
    transition: transform .3s;
}
section ul li:hover{
    transform: scale(1.5);
}
.games img{
    width:90px;
    border-radius: 8px;    
    border: 1px solid black;
}
.streamers img{
    width: 70px;    
    border-radius: 50%;    
    border: 1px solid #443E54;    
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;    
}
svg{   
    height: 50px;
    width: 50px;
}
@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-40px);
    }    
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translateY(40px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
main section:nth-child(1){
    animation: fromBottom .2s .3s backwards;
}
main section:nth-child(2){
    animation: fromBottom .2s .5s backwards;
}
main section:nth-child(3){
    animation: fromBottom .2s .7s backwards;
}







